<%- include('partials/head') %>
<h2>hi <%= comment.username %> </h2>
<form action="/comments/<%= comment.id %>?_method=PATCH" method="post">

    <label for="comment">comment</label>
    <textarea type="text" rows="10" cols="30" name="comment" id="comment"><%= comment.comment %></textarea>
    <input type="submit" value="Update Comment">
</form>
</body>
</html>