<%- include('partials/head') %>

<form action="/comments" method="post">
    <label for="username">enter username</label>
    <input type="text" name="username" id="username">
    <label for="comment">comment</label>
    <textarea type="text" rows="10" cols="30" name="comment" id="comment"></textarea>
    <input type="submit" value="Submit">
</form>
</body>
</html>